html{overflow-y : scroll; overflow-x : scroll;}
*{margin : 0; padding : 0;}
form, fieldset, input, img{border : 0;}
button{border : 0 transparent; cursor : pointer; overflow : visible; background : transparent;}
a{text-decoration : none;}
body{ font-family: 'Noto Sans', '맑은 고딕', 'Malgun Gothic', 'AppleGothic', sans-serif;}
ul li{list-style : none;}
a{text-decoration : none; color : #000000;}
div{box-sizing: border-box;}
.fl{float : left;}
.fr{float : right;}
.cb{clear : both;}
.cf:after{content : ''; display : block; clear : both;}
.hidden{display:none;}




/* 컨테이너 작업 */

#viewWrap{width:100%;}
.view{height:1000px; }
.contentTitle{width:100%; height:230px; background:#f9f9f9;}
.Titlebox{width:1420px; height:149px; margin:0 auto;}
.Librarytitle{width:1136px; height:149px; margin-left:284px; background:#f9f9f9;}
.Info>li{float:left;}
.Info>.title{width:1136px; height:55px; font-size:1.8em; font-weight:bold; padding-top:90px;}
.Icoimg{margin:5px 10px 0 0;}
.Icon1{width:40px; height:40px; background:#ffffff; border-radius:30px; margin-left:5px; cursor:pointer;}
.Icon1>li{background-image: url(../images/ico_sns.png); background-repeat: no-repeat; background-position: 0px -40px; width: 40px; height: 40px; margin: 0 auto;}
.Icon2{width:40px; height:40px; background:#ffffff; border-radius:30px; cursor:pointer;}
.Icon2>li{background-image: url(../images/ico_sns.png); background-repeat: no-repeat; background-position: 0px 0px; width: 40px; height: 40px; margin: 0 auto;}
	
/* 메뉴바작업 */
.contents{width:1420px; margin:0 auto; margin-bottom: 30px; display:block;}
	.Menubar{width:240px; height:720px; z-index:1; margin-top:-133px;}
		.menutitle{width:240px; height:142px; background:#6b64be; color:#ffffff; position:relative; border:2px solide #3d3884; box-sizing:border-box;}
		.menutitle>img{margin-top:30px;}
		.menutitle>span{position:absolute; top:55px; left:55px; text-align:center; font-weight:bold; font-size:2.0em; margin:0 auto;}
			.menu1{width:240px; height:71px; font-size:0.9em; line-height:71px; border:1px solid #7b7cc5; box-sizing:border-box; padding-left:10px;}
			.menu1>a{display:block; color:#6b64be; }
			.menu2{height:71px; background:#ffffff;  font-size:0.9em; line-height:71px; border-left:1px solid #ededed; border-right:1px solid #ededed; border-bottom:1px solid #ededed; box-sizing:border-box; padding-left:10px;}
			.menu2>a{display:block;}
			
			.menu2>a>.Img{float:right; margin-right:17px; margin-top:35px;}
			

			
/* view_content */

.view_content{width:1420px; height:1000px; margin:0 auto; }

.view_tit{width:695px; height:1000px; margin:60px 0 15px 500px;}

.v_text{width:164px; height:32px; background:#6b64be; color:#ffffff; line-height:33px; font-size:15px; text-align:center; margin: 0 10px 8px 0;}
.num_txt{width:300px; height:30px; padding:15px; background:#ededed; border:1px solid #dddddd;}
.num_no{font-size:15px; color:#666666; }

.v_user{width:164px; height:32px; background:#6b64be; color:#ffffff; line-height:33px; font-size:15px; text-align:center; margin: 0 10px 8px 0;}
.user_txt{width:300px; height:30px; padding:15px; background:#ededed; border:1px solid #dddddd;}

.v_Tit{width:164px; height:32px; background:#6b64be; color:#ffffff; line-height:33px; font-size:15px; text-align:center; margin: 0 10px 8px 0;}
.title_txt{width:300px; height:30px; padding:15px; background:#ededed; border:1px solid #dddddd;}

.v_con{width:164px; height:32px; background:#6b64be; color:#ffffff; line-height:33px; font-size:15px; text-align:center; margin: 0 10px 8px 0;}
.con_txt{width:511px; height:363px; padding:8px 0 0 5px; background:#ededed; border:1px solid #dddddd; font-size:15px;}

.v_img{width:164px; height:32px; background:#6b64be; color:#ffffff; line-height:33px; font-size:15px; text-align:center; margin: 10px 10px 8px 0;}
#preview{ margin-top:13px;}
.file_txt{width:300px; height:52px; padding:15px; margin-top:-2px; cursor:pointer;}
	
.v_d{width:164px; height:32px; background:#6b64be; color:#ffffff; line-height:33px; font-size:15px; text-align:center; margin: 0 10px 40px 0;}
.day_txt{width:300px; height:30px; padding:15px; background:#ededed; border:1px solid #dddddd;}

.btn_input{width:695px; height:32px; margin-bottom:15px; position:relative; }
.btn1{width:120px; height:30px; background:#3d3884; color:#ffffff; line-height:30px; text-align:center; position:absolute; top:1px; right:139px; cursor:pointer;}
.btn2{width:120px; height:30px; background:#3d3884; color:#ffffff; line-height:30px; text-align:center; position:absolute; top:1px; right:10px; cursor:pointer;}
.btn_input2{width:695px; height:32px; position:relative; margin-bottom:60px;}

.btn3{width:120px; height:30px; background:#3d3884; color:#ffffff; line-height:30px; text-align:center; position:absolute; top:1px; right:394px; cursor:pointer;}
.btn4{width:120px; height:30px; background:#3d3884; color:#ffffff; line-height:30px; text-align:center; position:absolute; top:1px; right:266px; cursor:pointer;}
.btn5{width:120px; height:30px; background:#3d3884; color:#ffffff; line-height:30px; text-align:center; position:absolute; top:1px; right:139px; cursor:pointer;}
.btn6{width:120px; height:30px; background:#3d3884; color:#ffffff; line-height:30px; text-align:center; position:absolute; top:1px; right:10px; cursor:pointer;}