html{overflow-y : scroll; overflow-x : scroll;}
*{margin : 0; padding : 0;}
form, fieldset, input, img{border : 0;}
button{border : 0 transparent; cursor : pointer; overflow : visible; background : transparent;}
a{text-decoration : none;}
body{ font-family: 'Noto Sans', '맑은 고딕', 'Malgun Gothic', 'AppleGothic', sans-serif;}
ul li{list-style : none;}
a{text-decoration : none; color : #000000;}
div{box-sizing: border-box;}
.fl{float : left;}
.fr{float : right;}
.cb{clear : both;}
.cf:after{content : ''; display : block; clear : both;}
.hidden{display:none;}



/* 컨테이너 작업 */
#container{width:100%;}

.contentTitle{width:100%; height:230px; background:#f9f9f9;}
.Titlebox{width:1420px; height:149px; margin:0 auto;}
.Librarytitle{width:1136px; height:149px; margin-left:284px; background:#f9f9f9;}
.Info>li{float:left;}
.Info>.title{width:1136px; height:55px; font-size:1.8em; font-weight:bold; padding-top:90px;}
.Icoimg{margin:5px 10px 0 0;}
.Icon1{width:40px; height:40px; background:#ffffff; border-radius:30px; margin-left:5px; cursor:pointer;}
.Icon1>li{background-image: url(../images/ico_sns.png); background-repeat: no-repeat; background-position: 0px -40px; width: 40px; height: 40px; margin: 0 auto;}
.Icon2{width:40px; height:40px; background:#ffffff; border-radius:30px; cursor:pointer;}
.Icon2>li{background-image: url(../images/ico_sns.png); background-repeat: no-repeat; background-position: 0px 0px; width: 40px; height: 40px; margin: 0 auto;}
	

	
/* 메뉴바작업 */
#contents{width:1420px; height:565px; background:#ffffff; margin:0 auto; }
	.Menubar{width:240px; height:720px; z-index:1; margin-top:-168px;}
		.menutitle{width:240px; height:142px; background:#6b64be; color:#ffffff; position:relative; border:2px solide #3d3884; box-sizing:border-box;}
		.menutitle>img{margin-top:30px;}
		.menutitle>span{position:absolute; top:55px; left:55px; text-align:center; font-weight:bold; font-size:2.0em; margin:0 auto;}
			.menu1{width:240px; height:71px; font-size:0.9em; line-height:71px; border:1px solid #7b7cc5; box-sizing:border-box; padding-left:10px;}
			.menu1>a{display:block; color:#6b64be; }
			.menu2{height:71px; background:#ffffff;  font-size:0.9em; line-height:71px; border-left:1px solid #ededed; border-right:1px solid #ededed; border-bottom:1px solid #ededed; box-sizing:border-box; padding-left:10px;}
			.menu2>a{display:block;}
			
			.menu2>a>.Img{float:right; margin-right:15px; margin-top:-5px;}
			.menu1>a>.Img2{float:right; margin-right:15px; margin-top:-5px;}
			.menu2>a>.IImg{float:right; margin-right:-13px; margin-top:-5px;}
			.menu2>a>.PImg{float:right; margin-right:15px; margin-top:2px;}
			.menu2>a>.PPImg{float:right; margin-right:-12px; margin-top:2px;}
	
/* Search작업 */

.Noticepage{width:1140px; height:860px; margin-left:284px;}		
		.Notice{width:1140px; height:60px; margin-top:60px;  background:#f2f2f2;}
		.Searchbox{width:820px; height:60px; margin-left:170px; }
			#LibSearch{width:180px; height:35px; background:#ffffff; color:#555555; margin:14px 10px 0 0;}
			#TitSearch{width:130px; height:35px; background:#ffffff; color:#555555; margin:14px 10px 0 0;}
			#userId{width:380px; height:35px; margin:13px 10px 0 0;}
			.SearchText>input[placeholder="검색어 입력"]{padding-left:10px;}
			
			.SearchBtn>#button{width:75px; height:40px; background:#444444; cursor:pointer; margin:10px 10px 0 0; color:#ffffff;}
			
			
/* 게시판 작업 */
#board{height:810px; width:1140px; float:left; font-size:15px; margin:0 auto; }
	.Title{float:left; width:1140px; height:51px; margin-top:50px; text-align:center; line-height:48px; font-weight:normal; border-top:2px solid #333333; border-bottom:1px solid #333333;}
	 .width50{float:left; width:50px; height:51px; text-align:center;}
	 .width805{float:left; width:805px; height:51px;}
	 .width87{float:left; width:87px; height:51px;}
	 .width99{float:left; width:99px; height:51px; text-align:center;}
	 
	 .text{width:1140px; height:51px; border-bottom:1px solid #e2e2e2; line-height:48px;}

		.width40_1{height:26px; width:48px; line-height:24px; text-align:center; border-radius:15px; background: #20416a; color:#ffffff; margin:13px 0 0 15px;}
		.width40_2{height:26px; width:48px; text-align:center; line-height:24px;
		border-radius:15px; background: #a563c0; color:#ffffff; margin:13px 0 0 15px;}
		.width40_3{height:26px; width:48px; text-align:center; line-height:24px;
		border-radius:15px; background: #d8510e; color:#ffffff; margin:13px 0 0 15px;}
		.width40_4{height:26px; width:48px; text-align:center; line-height:24px; border-radius:15px; background: #727316; color:#ffffff; margin:13px 0 0 15px;}
		.width40_5{height:26px; width:48px; text-align:center; line-height:24px; border-radius:15px; background: #55a7ab; color:#ffffff; margin:13px 0 0 15px;}
		
		.widthGroup{width:757px; float:left;}
		.width490{ height: 45px; margin-left:10px;}
		.width490 a{display:block;}
		.width490 a:hover{ text-decoration:underline;}
		.width40{display:block; height:40px; width:40px; margin-top:5px; background: url(../images/ico_new.png) no-repeat center center;}
		.width53{width:53px; height:51px; padding:5px 0 0 18px; margin-right:19px;}
		
	.btnWrap{width:1140px; height:32px; margin-top:51px;}
		.btnBg{margin-left: 317px;}
		.beforeBtn{width:70px;}
			.btn1{float:left; width:32px; height:32px; background:#eeeeee; border:1px solid #dddddd; color:#333333; margin-right:1px;}
			.btn2{float:left; width:32px; height:32px; background:#eeeeee; border:1px solid #dddddd; color:#333333; margin-left:1px;}
		.afterBtn{width:200px; }
		
		
		.pageNum{width:340px; height:32px; margin:0 10px 0 10px;}
			.page{float:left; width:32px; height:32px; color:#333333; margin-left:2px; line-height:32px; text-align:center;}
			.page a{display:block;}
			.page a:hover{text-decoration:underline;}
			
			.fNum{background:#464646; color:#ffffff; line-height:32px;}
	
		.cls1{margin-left:725px; width:100px; height:32px; display:block; background:#3d3884;
			border:1px solid #dddddd; color:#ffffff; text-align:center; line-height:2; cursor:pointer;}
		

		
		
			
